<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
         <form action="/doAddProduct" method="post">
        <table align="center">
        
            <tr>
                <td>ID</td>
                <td><input type="text" name="txt_id" value="{{oldValue._id}}"</td>
            </tr>

            <tr>
                <td>Name</td>
                <td><input type="text" name="txtName" value="{{oldValue.name}}"</td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="text" name="txtPrice" value="{{oldValue.price}}"</td>
            </tr>
            <tr>
                <td><input type="submit" value="Add Product"</td>
            </tr>
        </table>
    </form>
    
</body>
</html>